<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pio.chatlibrary" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity"
            android:label="@string/signin">
        </activity>
        <activity android:name=".login.RegisterActivity"
            android:label="@string/register">
        </activity>
        <activity android:name=".TabBarActivity"
            android:label="Chat rooms"
            android:windowSoftInputMode="stateHidden"
            android:logo="@android:color/transparent"
            android:icon="@drawable/abc_btn_check_material"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>
